server:
  port: 8080

spring:
  application:
    name: kb-healthcare-assignment

  datasource:
    url: jdbc:mysql://localhost:3307/kbhealthcare?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: kbhealthcare
    password: kbhealthcare
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: always
      schema-locations: classpath:db-schema.sql